html {
  overflow-y: scroll;
}

#root {
  height: 100%;
  margin: 0;
}

#sidebar {
  background-color: #172337;
  position: fixed;
  height: 100vh;
}

.Toastify__toast {
  background-color: black !important;
  color: white !important;
}

.no-image {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 16px;
}
