html {
  overflow-y: scroll;
}

#root {
  height: 100%;
  margin: 0;
}

#sidebar {
  background-color: #172337;
  position: fixed;
  height: 100vh;
}

.Toastify__toast {
  background-color: black !important;
  color: white !important;
}
